.table {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-rows: repeat(6, 1fr);
  border: 1px dashed black;
}

#row1 {
  grid-row: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row2 {
  grid-row-start: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row3 {
  grid-row-start: 3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row4 {
  grid-row-start: 4;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row5 {
  grid-row-start: 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row6 {
  grid-row-start: 6;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
  display: flex;
  position: relative;
  position: static;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: space-around;
}

#doubleJep {
  display: flex;
  align-items: flex-end;
}