body {
  background-color: rgb(12, 65, 220);
}

h1 {
  display: flex;
  position: relative;
  position: static;
  justify-content: center;
  color: aliceblue;
}

h2 {
  display: flex;
  position: relative;
  justify-content: center;
  color: aliceblue;
}

.table {
  display: grid;
  grid-template-rows: repeat(6, 10vh) 1fr;
  color: yellow;
  font-size: 200%;
  border: 1px dashed black;
  height: 1fr;
}

#row1 {
  grid-row: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row2 {
  grid-row-start: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row3 {
  grid-row-start: 3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row4 {
  grid-row-start: 4;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row5 {
  grid-row-start: 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row6 {
  grid-row-start: 6;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.guessOrPass {
  color: yellow;
  font-size: 150%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  justify-content: center;
  text-align: center;
  padding-bottom: 5vh;
}

#guess {
  border: 1px solid black;
  grid-column-start: 2;
}

#pass {
  border: 1px solid black;
  grid-column-start: 3;
}

#doubleJep {
  display: flex;
  flex-direction: row-reverse;
  font-size: 200%;
  color: black;
  /* text-decoration: none; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
