.table {
  display: grid;
  grid-template-rows: repeat(6, 10vh);
  border: 1px dashed black;
  height: 1fr;
}

#row1 {
  grid-row: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row2 {
  grid-row-start: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row3 {
  grid-row-start: 3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row4 {
  grid-row-start: 4;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row5 {
  grid-row-start: 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#row6 {
  grid-row-start: 6;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
  display: flex;
  position: relative;
  position: static;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: space-around;
}

#doubleJep {
  display: flex;
  flex-direction: row-reverse;
  font-size: 200%;
  color: black;
  /* text-decoration: none; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
