header {
  /*defines header box and location*/
  display: flex;
  justify-content: center;
  color: yellow;
  font-size: 200%;
}

body {
  /*defines background color*/
  background-color: rgb(12, 65, 220);
}

.contentBox {
  /* Defines box for final jeopardy question */
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
}

#mainContent {
  display: grid;
  width: 50vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  border: 0.5vw solid black;
  text-align: center;
  color: yellow;
}

.contentGrid:first-child {
  border-bottom: 0.2vw solid black;
  font-size: 300%;
}

.contentGrid:last-child {
  display: flex;
  word-wrap: break-word;
  font-size: 400%;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.bottomContent {
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;
  font-size: 200%;
  color: yellow;
}

.buttonBoxes {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#amount_answer {
  display: flex;
  flex-direction: column;
  border: 0.1vh solid black;
  border-right: none;
  font-size: 150%;
}

#amount {
  border: 0.1vh solid black;
}

#answer {
  border: 0.1vh solid black;
}

#bet {
  padding-top: 2vh;
  display: flex;
  border: 0.2vw solid black;
  border-left: 0.2vw solid black;
  border-right: 0.2vw solid black;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 200%;
}
