/* unused id, reference for color palette*/
#colorBox {
  /*illusion */
  color: rgb(189, 127, 209);
  /*enchantment*/
  color: rgb(149, 215, 145);
  /* abjuration*/
  color: rgb(213, 208, 138);
  /*conjuration*/
  color: rgb(139, 188, 213);
  /*transmutation*/
  color: rgb(216, 189, 147);
  /*divination*/
  color: rgb(196, 196, 196);
  /*necromancy*/
  color: rgb(141, 141, 141);
  /*evocation*/
  color: rgb(211, 129, 129);
}

.headerboxes {
  display: flex;
  justify-content: space-around;
}

#titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1Number {
  display: flex;
  justify-content: center;
}

#p2Number {
  display: flex;
  justify-content: center;
}

body {
  background-color: darkred;
  color: white;
}

/* flexbox to center board */
.board {
  display: flex;
  justify-content: space-around;
}

/* actual board */
.table {
  display: grid; /*grid display makes a nice even board*/
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid black;
  border-radius: 1%;
  color: rgb(3, 3, 3);
  background-color: rgb(78, 53, 36);
  align-items: center;
  justify-items: center;
  width: 80vw;
  height: 60vh;
}

span > div {
  border: 2px solid black;
  border-radius: 20%;
  padding: 4%;
  font-size: 2vw;
  background-color: rgb(247, 206, 101);
}

#catOne {
  /*abjuration*/
  background-color: rgb(213, 208, 138);
}

#catTwo {
  /*conjuration*/
  background-color: rgb(139, 188, 213);
}

#catThree {
  /*divination*/
  background-color: rgb(196, 196, 196);
}

#catFour {
  /*enchantment*/
  background-color: rgb(149, 215, 145);
}

#catFive {
  /*evocation*/
  background-color: rgb(211, 129, 129);
}

#catSix {
  /*illusion*/
  background-color: rgb(189, 127, 209);
}

.guessOrPass {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 4vh;
  padding-top: 2vh;
  padding: 2%;
}

#guess {
  border: 2px solid black;
  border-radius: 50%;
  padding: 2%;
  align-content: center;
  background-color: rgb(3, 3, 3);
}

#pass {
  border: 2px solid black;
  border-radius: 50%;
  padding: 2%;
  align-content: center;
  background-color: rgb(3, 3, 3);
}

#nextPage {
  float: right;
  color: white;
}
