/* unused id, reference for color palette*/
#colorBox {
  color: rgb(255, 254, 189);
  color: rgb(247, 206, 101);
  color: rgb(147, 12, 16);
  color: rgb(41, 0, 0);
  color: rgb(3, 3, 3);
}

.headerboxes {
  display: flex;
  justify-content: space-around;
}

#titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#p1Number {
  display: flex;
  justify-content: center;
}

#p2Number {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(41, 0, 0);
  color: white;
}

.board {
  display: flex;
  justify-content: space-around;
}

.table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid black;
  border-radius: 1%;
  color: rgb(3, 3, 3);
  background-color: rgb(147, 12, 16);
  align-items: center;
  justify-items: center;
  width: 80vw;
  height: 50vh;
}

span > div {
  border: 2px solid black;
  border-radius: 20%;
  padding: 4%;
  background-color: rgb(247, 206, 101);
}

.guessOrPass {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 300%;
  padding-top: 2vh;
}

#guess {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1%;
  align-content: center;
  background-color: rgb(3, 3, 3);
}

#pass {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1%;
  align-content: center;
  background-color: rgb(3, 3, 3);
}

#nextPage {
  float: right;
  color: white;
}
