.headerboxes {
  display: flex;
  justify-content: space-around;
}

body {
}

.board {
  display: flex;
  justify-content: space-around;
}

#colorBox {
  color: red (237, 37, 78);
  color: rgb(249, 220, 92);
  color: rgb(243, 232, 238);
  color: rgb(1, 25, 54);
  color: rgb(67, 100, 54);
}

.table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 2px solid black;
  border-radius: 1%;
  align-items: center;
  justify-items: center;
  width: 80vw;
  height: 50vh;
}

span > div {
  border: 2px solid black;
  border-radius: 20%;
  padding: 4%;
}

.guessOrPass {
  display: flex;
  align-content: center;
  justify-content: space-around;
  font-size: 300%;
  padding-top: 2vh;
}

#guess {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1%;
  align-content: center;
}

#pass {
  border: 2px solid black;
  border-radius: 50%;
  padding: 1%;
  align-content: center;
}

#nextPage {
  float: right;
}
